.MainStyle {
    font-size: 50px;
    color: blue;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.headerStyle {
    text-align: right;
    color: rebeccapurple;
    font-size: 15pt;
}

.IconStyle {
    text-align: center;
    color: lightgray;
}

.HomeStyle {
    color: royalblue;
    font-size: 25px;
    text-align: center;
}

.FontStyle {
    color: royalblue;
    font-size: 3px;
    text-align: center;
}

.ListStyle {
    color: darkslategray;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.TableHeadFont {
    font-size: 15px;
    color: royalblue;
    font-weight: bold;
}

.ReviewHeadStyle {
    color: gray;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.DateStyle {
    color: lightgray;
    font-size: 3px;
    text-align: right;
}

.CommentStyle {
    color: darkslategray;
    font-size: 15px;
    text-align: left;
}

.CommentWriterStyle {
    color: darkslateblue;
    font-size: 10px;
    text-align: center;
}

.checkBtn {
    line-height: 45px;
    color: #62acde;
    margin-right: 5px;
}


.CommentView {
    display: flex;
    min-height: 50px;
    height: 60px;
    width: 100%;
    line-height: 50px;
    margin: 0.5rem 0;
    padding: 0 0.9rem;
    background: white;
    border-radius: 200px;
    border: 1px solid green;
    margin-bottom: 15px;
    box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.03);
}

.removeBtn {
    margin-top: 5px;
    font-size: 20px;
    color: lightcoral;
}


.inputBox {
    background: #99ff99;
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-radius: 5px;
}
